h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

html,
body,
.tooltip,
.popover {
	font-family: 'Roboto', sans-serif;
}

code,
kbd,
pre,
samp,
.text-monospace {
	font-family: 'Roboto', sans-serif;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

a:hover {
	color: #3b5cc4;
}

nav.navbar.navbar-expand-lg a {
	color: #3b5cc4;
	font-weight: 700;
	font-size: 18px;
}

li.nav-item {
	padding: 0 20px;
}

.headline {
	color: white;
	font-weight: 700;
	padding: 80px 80px 0 80px;
	font-size: 2rem;
}

@media only screen and (max-width: 600px) {
	.headline {
		color: white;
		font-weight: 700;
		padding: 0px 0px 0 0px;
		font-size: 1.25rem;
	}
}

h1.text-center.headline a {
	color: #fff;
}

h1.text-center.headline a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	position: relative;
}

h1.text-center.headline a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	background: none repeat scroll 0 0 transparent;
	height: 2px;
	width: 0;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

h1.text-center.headline a:hover::after {
	width: 100%;
	left: 0;
}

pre {
	background-color: #eeeeee;
	padding: 5px;
}

.hero {
	background: #3b5cc4;
	height: 50px;
	width: 100%;
}
.hero-top {
	width: 100%;
	padding: 80px;
	color: #fff;
	font-weight: 700;
}

.hero-top.headline.text-center h3 {
	font-size: 5rem !important;
}

a {
	color: #f46a53;
}

h2 {
	color: #3b5cc4;
}

::marker {
	color: #3b5cc4;
}

ul {
	margin-bottom: 0;
}

.col-border {
	border: 1px solid #3b5cc4;
}

#particles {
	position: relative;
}

#webcoderskull {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-60%);
	padding: 0 20px;
	width: 100%;
	text-align: center;
	color: #fff;
}

@media only screen and (max-width: 600px) {
	#webcoderskull {
		transform: translateY(-40%);
	}
}

canvas {
	height: 33vh;
	background-color: #3b5cc4;
}
#webcoderskull h4 {
	letter-spacing: 5px;
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.headline-bottom {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(59, 92, 196, 1) 0%, rgba(255, 107, 74, 1) 100%);
	color: white;
	font-weight: 700;
	padding: 80px;
	font-size: 2rem;
}

h1.text-center.headline-bottom a {
	color: #fff;
}

h1.text-center.headline-bottom a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}

h1.text-center.headline-bottom a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	background: none repeat scroll 0 0 transparent;
	height: 2px;
	width: 0;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

h1.text-center.headline-bottom a:hover::after {
	width: 100%;
	left: 0;
}

/* 404 pahe */


span#fourzerofour {
	font-size: 12rem;
}

#footer-four-zero-four {
		height: 100%;
		text-align: center;
}

p.text-white-four-zero-four {
    font-weight: 300;
}

/* profile box all pages */

img.profile-photo {
    height: 120px;
    width: 120px;
		border-radius: 50%;
}

p.profile-heading {
	font-size: 20px;
	font-weight: 700px;
	color: #3b5cc4;
	font-weight: 700;
}

.profile-border {
	padding: 20px;
	border: 1px solid #3b5cc4;
}

/* about & CV page */

.row-margin {
	margin: 90px 0;
}

.line-break {
    border: 2px solid #ff6b4a;
    margin-bottom: 70px;
}

img.profile-photo-about {
    height: 270px;
    border-radius: 20px;
    border: 5px solid #3b5cc4;
}

p.profile-heading-about {
	font-size: 20px;
	font-weight: 400px;
	color: #3b5cc4;
	font-weight: 700;
}

.profile-border-about {
	padding: 20px;
	border: 1px solid #3b5cc4;
}

img.company-logo {
		width: 210px;
}

p.company-title {
    font-size: 1.6rem;
    color: blue;
    font-weight: 700;
}

p.company-title span {
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
		padding-left: 50px;
}


span#fourzerofour {
    font-size: 12rem;
}

a.btn {
    padding: 8px 16px;
    color: #fff;
    background: #fc6b4c;
    font-weight: 700;
    margin-right: 70px;
		transition: 0.3s;
}

a.btn:hover {
	background: #3b5cc4;
	color: #fff;
}

/* slideshow homepage & about page /*/

.slider {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
}

img.item {
    margin-right: 10px !important;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

button.ctrl-btn.pro-prev {
    background: #fc6b4c;
    color: #fff;
}

.ctrl-btn.pro-next {
  right: 0;
}

button.ctrl-btn.pro-next {
    background: #fc6b4c;
    color: #fff;
}
